{{define "discussion/link"}}
<a href="/uid/discussion/{{.DiscussionID}}/view" id="{{.DiscussionID}}">{{.Title}}</a>
{{end}}

{{define "discussion/slots-display"}}
<ul class="list-group">
  {{range .}}
  <li class="list-group-item{{if .Checked}} bg-primary{{end}}">{{.Label}}</li>
  {{end}}
</ul>
{{end}}

{{define "discussion/slots-form"}}
  {{range .}}
  <div class="form-group">
    <input type="checkbox" name="possible" value="{{.Index}}"{{if .Checked}} checked{{end}}>
    <label>{{.Label}}</label>
  </div>
  {{end}}
{{end}}

{{define "discussion/item-full"}}
<div class="row">
<div class="col-9 col-offset-3">
  {{if not .IsPublic}}
  <div class="alert alert-warning">This discussion has changes awaiting moderation</div>
  {{end}}
    <h5 class="card-title">{{template "discussion/link" .}}</h5>
    <span class="text-muted">Owner: {{template "user/link" .Owner}}</span>
    {{if .Time}}
    <div>Time: {{.Time}} {{template "schedule/finalbadge" .IsFinal}}</div>
    <div>Location: {{.Location.Name}}</div>
    {{end}}
    <p class="card-text">{{.Description}}</p>
    {{if .IsUser}}
    <div class="btn-group input-group" role="group">
      <form action="setinterest" method="POST">
      <label>Interested:</label>
      <button type="submit" name="interest" class="btn {{if eq .Interest 0}}btn-primary{{else}}btn-secondary{{end}}" value="0">None</button>
      <button type="submit" name="interest" class="btn {{if and (gt .Interest 0) (lt .Interest 26)}}btn-primary{{else}}btn-secondary{{end}}" value="25">A little</button>
      <button type="submit" name="interest" class="btn {{if and (gt .Interest 25) (lt .Interest 76)}}btn-primary{{else}}btn-secondary{{end}}" value="75">Yes</button>
      <button type="submit" name="interest" class="btn {{if and (gt .Interest 75) (lt .Interest 101)}}btn-primary{{else}}btn-secondary{{end}}" value="100">Very</button>
      </form>
    </div>
    {{end}}
    {{if .MayEdit}}
    <a href="edit" class="btn btn-primary" role="button">Edit</a>
    <a href="delete" class="btn btn-danger" role="button">Delete</a>

    {{end}}
    {{if .IsAdmin}}
    <div class="container">
      <p class="text-muted">Possible scheduling slots:</p>
      {{template "discussion/slots-display" .PossibleSlots}}
    </div>
    {{end}}
  </div>
</div>
{{end}}

{{define "discussion/view"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      {{template "discussion/item-full" .Display}}
  </div>
</div>
{{end}}

{{define "discussion/item-short"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h5>{{template "discussion/link" .Discussion}}</h5>
      <span class="text-muted">Owner: {{template "user/link" .Discussion.Owner}}</span>
    </div>
    {{if .Discussion.IsUser}}
    <div class=" col btn-group input-group" role="group">
      {{with .Discussion}}
      <form action="/uid/discussion/{{.DiscussionID}}/setinterest" method="POST">
      <button type="submit" name="interest" class="btn {{if eq .Interest 0}}btn-primary{{else}}btn-secondary{{end}}" value="0">None</button>
      <button type="submit" name="interest" class="btn {{if and (gt .Interest 0) (lt .Interest 26)}}btn-primary{{else}}btn-secondary{{end}}" value="25">A little</button>
      <button type="submit" name="interest" class="btn {{if and (gt .Interest 25) (lt .Interest 76)}}btn-primary{{else}}btn-secondary{{end}}" value="75">Yes</button>
      <button type="submit" name="interest" class="btn {{if and (gt .Interest 75) (lt .Interest 101)}}btn-primary{{else}}btn-secondary{{end}}" value="100">Very</button>
      {{end}}
      {{with .redirectURL}}
      <input type="hidden" name="redirectURL" value="{{.}}">
      {{else}}
      <input type="hidden" name="redirectURL" value="/list/discussion#{{.Discussion.DiscussionID}}">
      {{end}}
      </form>
    </div>
    {{end}}
    <div class="col-1">
      <div class="row">
      {{if .CurrentUser}}
        {{if .CurrentUser.IsAdmin}}
          <form action="/uid/discussion/{{.Discussion.DiscussionID}}/setpublic" method="POST">
            <div class="custom-control custom-switch">
	      <input type="checkbox" class="custom-control-input"
	       name="public" value="{{.Discussion.DiscussionID}}" id="p{{.Discussion.DiscussionID}}"
	       {{if .Discussion.IsPublic}} checked{{end}}
	       onChange="this.form.submit()">
	      <label class="custom-control-label" for="p{{.Discussion.DiscussionID}}"> </label>
	      <input type="hidden" name="newvalue" value={{if .Discussion.IsPublic}}"false"{{else}}"true"{{end}}>
	    </div>
	    <input type="submit" value="Set" class="btn btn-primary noscript">
	    <script>
	    $('.noscript').hide();
	    </script>
            {{with .redirectURL}}
            <input type="hidden" name="redirectURL" value="{{.}}">
            {{else}}
            <input type="hidden" name="redirectURL" value="/list/discussion#{{.Discussion.DiscussionID}}">
            {{end}}
	  </form>
	{{end}}
	{{if or .CurrentUser.IsAdmin (eq .Discussion.Owner.UserID .CurrentUser.UserID)}}
	  {{if .Discussion.IsPublic}}
	  <span class="badge badge-primary">Public</span>
	  {{else}}
	  <span class="badge badge-warning">Not Public</span>
	  {{end}}
	{{else}}
	  {{if not .Discussion.IsPublic}}
	    <span class="badge badge-warning">Moderated</span>
          {{end}}
	    {{end}}
      {{else}}
	  {{if not .Discussion.IsPublic}}
	    <span class="badge badge-warning">Moderated</span>
          {{end}}
      {{end}}

      </div>
    </div>
  </div>
</div>
{{end}}

{{define "discussion/list"}}
<div class="container">
  {{$redirectURL := .redirectURL}}
  {{$CurrentUser := .CurrentUser}}
  <ul class="list-group">
    {{if .CurrentUser}}{{if not .CurrentUser.IsAdmin}}
    <div class="container m-3">How interested are you in attending the
    following discussions?</div>
    {{end}}{{end}}
    {{range .List}}
      <li class="list-group-item">
      {{template "discussion/item-short"  dict "Discussion" . "redirectURL" $redirectURL "CurrentUser" $CurrentUser}}
      </li>
    {{else}}
      <p>No discussions registered yet</p>
    {{end}}
    </ul> 
</div>
{{end}}

{{define "uid/notfound"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>No such {{.Utype}} id</h1>
    <p>Sorry, we couldn't find the {{.Utype}} you were looking for.</p>
  </div>
</div>
{{end}}

{{define "discussion/form-user-option"}}
<option value="{{.UserID}}">{{.Username}} {{if .Profile.RealName}}({{.Profile.RealName}}){{end}}</option>
{{end}}

{{define "discussion/form"}}
<div class="form-group">
  <label for="newTitle">Title</label>
  <input type="text" name="title" id="newTitle" class="form-control" value="{{.Title}}" placeholder="Title of session">
</div>
<div class="form-group">
  <label for="newDescription">Session description</label>
  <textarea id="newDescription" class="form-control"  name="description" placeholder="What do you want to talk  about?"rows="4">{{.DescriptionRaw}}</textarea>
</div>
{{if .IsAdmin}}
<fieldset>
  <div class="form-group">
    <legend for="owner">Owner</legend>
    <select class="form-control" name="owner" id="owner">
      {{template "discussion/form-user-option" .Owner}}
      {{range .AllUsers}}
      {{template "discussion/form-user-option" .}}
      {{end}}
    </select>
  </div>
</fieldset>
<fieldset>
  <legend>Possible Slots to schedule</legend>
  {{range .PossibleSlots}}
  <div class="form-group">
    <input type="checkbox" name="possible" value="{{.Index}}"{{if .Checked}} checked{{end}}>
    <label>{{.Label}}</label>
  </div>
  {{end}}
</fieldset>
    {{end}}
{{end}}

{{define "discussion/new"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create a new session</h1>
    {{if .Error}}
    <p class="text-danger">
      {{.Error}}
    </p>
    {{end}}
    <form action="/discussion/new" method="POST">
      {{template "discussion/form" .Discussion}}
    <input type="submit" value="Suggest Topic" class="btn btn-primary">
    </form>
  </div>
</div>
{{end}}

{{define "discussion/edit"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Modify session</h1>
    {{if .Error}}
    <p class="text-danger">
      {{.Error}}
    </p>
    {{end}}
    <form action="edit" method="POST">
      {{template "discussion/form" .Display}}
    <input type="submit" value="Modify Topic" class="btn btn-primary">
    </form>
    <div class="container text-muted">
    <strong>Note:</strong> It is possible to restrict in which slots a discussion can be scheduled.  Contact Lars Kurth or George Dunlap if you think a schedule needs to happen or not happen at certain times.
    </div>
  </div>
</div>
{{end}}

{{define "discussion/delete"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Delete session</h1>
    Really delete discussion "{{.Display.Title}}"?
    <form action="delete" method="POST">
    <input type="submit" value="Delete" class="btn btn-danger">
    </form>
  </div>
</div>
{{end}}
