{{define "discussion/new"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Create a new session</h1>
    {{if .Error}}
    <p class="text-danger">
      {{.Error}}
    </p>
    {{end}}
    <form action="/discussion/new" method="POST">
      <div class="form-group">
        <label for="newTitle">Title</label>
	<input type="text" name="title" id="newTitle" class="form-control" value="{{.Discussion.Title}}" placeholder="Title of session">
      </div>
      <div class="form-group">
        <label for="newDescription">Session description</label>
	<textarea id="newDescription" class="form-control" name="description" placeholder="What do you want to talk about?"rows="4">{{.Discussion.Description}}</textarea>
      </div>
      <input type="submit" value="Suggest Topic" class="btn btn-primary">
      <input type="hidden" name="next" value="{{.Next}}">
    </form>
  </div>
</div>
{{end}}
