{{define "discussion/link"}}
<a href="/uid/discussion/{{.ID}}/view">{{.Title}}</a>
{{end}}

{{define "discussion/item-full"}}
<div class="row">
  <div class="col-9 col-offset-3">
    <h5 class="card-title">{{template "discussion/link" .}}</h5>
    <span class="text-muted">Owner: {{template "user/link" .Owner}}</span>
    <p class="card-text">{{.Description}}</p>
    {{if .IsUser}}
  <div class="btn-group input-group" role="group">
    <form action="setinterest" method="POST">
    <label>Interested:</label>
    <button type="submit" name="interest" class="btn {{if eq .Interest 0}}btn-primary{{else}}btn-secondary{{end}}" value="0">None</button>
    <button type="submit" name="interest" class="btn {{if and (gt .Interest 0) (lt .Interest 26)}}btn-primary{{else}}btn-secondary{{end}}" value="25">A little</button>
    <button type="submit" name="interest" class="btn {{if and (gt .Interest 25) (lt .Interest 76)}}btn-primary{{else}}btn-secondary{{end}}" value="75">Yes</button>
    <button type="submit" name="interest" class="btn {{if and (gt .Interest 75) (lt .Interest 101)}}btn-primary{{else}}btn-secondary{{end}}" value="100">Very</button>
    </form>
  </div>
    {{if .IsMine}}
    <a href="edit" class="btn">Edit</a>
    {{end}}
  </div>
  {{end}}
</div>
{{end}}

{{define "discussion/item-short"}}
<div class="row">
  <div class="col-9 col-offset-3">
    <h5>{{template "discussion/link" .}}</h5>
    <span class="text-muted">Owner: {{template "user/link" .Owner}}</span>
  </div>
</div>
{{end}}

{{define "discussion/view"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      {{template "discussion/item-full" .Display}}
  </div>
</div>
{{end}}

{{define "discussion/list"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <ul class="list-group">
    {{range .List}}
      <li class="list-group-item">{{template "discussion/item-short" .}}</li>
    {{else}}
      <p>No discussions registered yet</p>
    {{end}}
    </ul> 
  </div>
</div>
{{end}}

{{define "uid/notfound"}}
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>No such {{.Utype}} id</h1>
    <p>Sorry, we couldn't find the {{.Utype}} you were looking for.</p>
  </div>
</div>
{{end}}
