{{define "schedule/finalbadge"}}
      {{if .}}
        <span class="mx-1 badge bg-success">Final</span>
      {{else}}
        <span class="mx-1 badge bg-warning">Tentative</span>
      {{end}}
{{end}}

{{define "schedule/form-location-option"}}
<option value="{{.}}">{{.}}</option>
{{end}}



{{define "schedule/view"}}
<div class="container">	  
<div class="row">
<div class="col">
  <form class="form-inline m-3">
  <label class="mr-2" for="location">Timezone: </label>
    <select onchange="this.form.submit()" class="form-control" name="location" id="location">
      {{template "schedule/form-location-option" .CurrentLocation}}
      {{range .Locations}}
      {{template "schedule/form-location-option" .}}
      {{end}}
    </select>
    </form>
  {{range .Timetable.Days}}
    <div class="container col container-fluid">
      <a id="{{.DayName}}"><strong>{{.DayName}}</strong></a>
      {{template "schedule/finalbadge" .IsFinal}}
      <table class="table">
	{{range .Slots}}
	<tr>
	  <td class="text-nowrap">
	    {{.TimeDisplay}}
	  </td>
	  <td>
	    <div class="container row">
	    {{if .IsBreak}}
	    <div class="card" style="background-color:#ced4da"><div class="card-body">
	      <span class="card-title">Break</span>
	    </div></div>
	    {{else}}
	    {{range .Discussions}}
	    <div class="card mx-2"><div class="card-body">
	      <div class="card-title">{{template "discussion/link" .}}</div>
	      <div>{{template "location/link" .}}</div>
	      <div class="badge bg-success" style="float: right">Interest {{.Score}}</div>
	      <div class="badge bg-primary" style="float: right">Attendees {{.Attendees}}</div>
	    </div></div>
	    {{end}}
	    {{end}}
	    </div>
	  </td>
	</tr>
	{{end}}
      </table>
    </div>
  {{end}}
</div>
</div>
</div>
{{end}}
