{{define "schedule/finalbadge"}}
      {{if .}}
        <span class="mx-1 badge badge-success">Final</span>
      {{else}}
        <span class="mx-1 badge badge-warning">Tentative</span>
      {{end}}
{{end}}

{{define "schedule/view"}}
<div class="container">	  
<div class="row">
<div class="col">
  {{range .Timetable.Days}}
    <div class="container col container-fluid">
      <a id="{{.DayName}}"><strong>{{.DayName}}</strong></a>
      {{template "schedule/finalbadge" .IsFinal}}
      <table class="table">
	{{range .Slots}}
	<tr>
	  <td>
	    {{.TimeDisplay}}
	  </td>
	  <td>
	    <div class="container row">
	    {{if .IsBreak}}
	    <div class="card"><div class="card-body">
	      <span class="card-title">Break</span>
	    </div></div>
	    {{else}}
	    {{range .Discussions}}
	    <div class="card mx-2"><div class="card-body">
	      <div class="card-title">{{template "discussion/link" .}}</div>
	      <div>{{template "location/link" .LocationInfo}}</div>
	      <div class="badge badge-success" style="float: right">Interest {{.Score}}</div>
	      <div class="badge badge-primary" style="float: right">Attendees {{.Attendees}}</div>
	    </div></div>
	    {{end}}
	    {{end}}
	    </div>
	  </td>
	</tr>
	{{end}}
      </table>
    </div>
  {{end}}
</div>
</div>
</div>
{{end}}
