{{define "schedule/view"}}
<div class="row">
<div class="col-md-8 col-md-offset-2">
  <table class="table">
    <tbody>
    {{range .Schedule.Slots}}
    <tr>
      {{range .Discussions}}
      <td><h5><a href={{.Url}}>{{.Title}}</a></h5>
	<p>{{.Description}}</p>
	<h6>Attending</h6>
	<ul class="list-group">
	  {{range .Attending}}
	  <li class="list-group-item">{{.Username}}
	  <span class="badge badge-success" style="float: right">{{.Interest}}</span>
	  </li>
	  {{end}}
	</ul>
	{{if .Missing}}
	<h6>Missing</h6>
	<ul class="list-group">
	  {{range .Missing}}
	  <li class="list-group-item">{{.Username}}
	  <span class="badge badge-warning" style="float: right">{{.Interest}}</span>
	  </li>
	  {{end}}
	</ul>
	{{end}}
      {{end}}
    </tr>
    {{end}}
    </tbody>
  </table>
</div>
</div>
{{end}}

