{{define "index/home"}}
<div class="container"><div class="row">
  <div class="col-sm">
    <h1>Welcome to the XenSummit 2022 Design Session Scheduler</h1>

<p>Design sessions are one of the most fruitful aspects of XenSummit.
Anyone can propose a topic, even as the conference is going on, and
interested people can get together to discuss it and hash out solutions.</p>

{{if .IsWebsiteActive}}
  {{template "index/home-active" .}}
{{else}}
  {{template "index/home-inactive" .}}
{{end}}
    
</div>
</div></div>
{{end}}

{{define "index/home-inactive"}}

<p>The session scheduler is still in progress, but will be up and running
  in plenty of time for this year's XenSummit ONLINE.  Watch this space!
  </p>

{{end}}

{{define "index/home-active"}}
<p>However, scheduling them so that everyone has the opportunity to go
to the sessions they'd like to is difficult.  In the past this was
done with post-it notes on a whiteboard.  But for the last few years,
we've decided to have a computer do the work for us.</p>

<p>The basic idea is:
<ul>
  <li>Anyone who wants to <a href="discussion/new">proposes</a> a
  topic</li>
  <li>Everyone goes through the <a href="list/discussion">list of
  sessions</a> and says how much they would like to attend</li>
  <li>The session scheduler looks for a <a href="schedule">schedule</a> which maximizes
  people's preferences</li>
</ul>
</p>

<p>Furthermore, people are encouraged to submit new
long-form talks by adding the [TALK] to the title of the session</p>
{{if .CurrentUser}}
<h3>More information</h3>
<ul>
  <li>User and session descriptions can use GitHub-style Markdown</li>
  <li>Profile information (including e-mail and real name) is only
  available to people who have logged in.  You can edit this at any
  time by clicking your username in the upper-right-hand corner.</li>
    {{if not .RequireVerification}}
  <li>All new accounts are marked <em>unverified</em> at creation.  All
  proposals added or edited by unverified accounts will be marked
  "non-public", visible only to the owners and site admins, until
  approved by admins.  Once conference registration is complete, we
  will be sending out a code you can use to "verify" your account; at
  that point, no more unverified accounts can be created.</li>
    {{end}}
    {{if .IsScheduleActive}}
  <li>Tentative schedules will be run regularly once the conference
  starts, but <strong>nothing is final</strong> until the lunchtime
  before the design sessions.</li>
  <li>New sessions can be proposed any time before lunchtime on the
  last day of the conference.</li>
    {{else}}
  <li>Rooms and times for the schedule have not yet been determined.</li>
    {{end}}
</ul>
{{else}}
<p>To get started, register your account by click the button below.
{{if .RequireVerification}}
You'll need the <strong>verification code</strong> to register.
Contact George Dunlap for more information.</p>
{{end}}
<p><a href="register" class="btn btn-primary" role="button">Register
now</a>
{{end}}
{{end}}
