<html>
	<head>
		<link rel="stylesheet" href="/assets/css/bootstrap.css">
	</head>
	<body>
	<nav class="navbar navbar-expand navbar-dark bg-dark" role="navigation">
            <a class="navbar-brand" href="/">XenSummit Session Planner</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
	      <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		<a class="navbar-link" href="/discussion/list">Sessions</a></li>
		<li class="nav-item">
		<a class="navbar-link" href="/discussion/new">Propose</a></li>
	      </ul>
	      <p class="navbar-text navbar-right">
	      {{if .CurrentUser}}
	      <a href="/account" class="navbar-link">Account</a> |
	      <a href="/sign-out" class="navbar-link">Sign Out</a>
	      {{else}}
	      <a href="/register" class="navbar-link">Register</a> |
	      <a href="/login" class="navbar-link">Login</a>
	      {{end}}
	      </p>
	    </div>
	    </div>
	</nav>
	<div class="container">
		{{if .Flash}}
			<div class="alert alert-info">
				{{.Flash}}
			</div>
		{{end}}
		{{ yield }}
		</div>
	</body>
</html>
