<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="/assets/js/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap.min.js" crossorigin="anonymous"></script>
  </head>
	<body>
	<header class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
            <a class="navbar-brand" href="/">Xen Design Sessions</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
	      <ul class="navbar-nav mr-auto">
		<li class="nav-item">
		<a class="nav-link" href="/list/discussion">Sessions</a></li>
		<li class="nav-item">
		<a class="nav-link" href="/discussion/new">Propose</a></li>
		<li class="nav-item">
		<a class="nav-link" href="/schedule">Schedule</a></li>
		<li class="nav-item">
		<a class="nav-link" href="/list/user">Attendees</a></li>
	      </ul>
		{{if .IsTestMode}}
		<span class="badge badge-danger">Test Mode</span>
		{{end}}
	      <ul class="navbar-nav navbar-right">
		{{if .CurrentUser}}
		{{if .CurrentUser.IsAdmin}}
		<li class="nav-item">
		<a href="/admin/console" class="nav-link">Console</a><li>
		{{end}}
		<li class="nav-item">
		<a href="/uid/user/self/view" class="nav-link">{{.CurrentUser.Username}}</a></li>
		<li class="nav-item">
		<a href="/sign-out" class="nav-link">Sign Out</a></li>
	      {{else}}
		<li class="nav-item">
		<a href="/register" class="nav-link">Register</a></li>
		<li class="nav-item">
		<a href="/login" class="nav-link">Login</a></li>
	      {{end}}
	      </ul>
	    </div>
	    </div>
	</header>
	<div class="container-fluid">
	  {{if .Flash}}
	  <div class="alert alert-info alert-dismissible fade show" role="alert">
	    {{.Flash}}
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    <span aria-hidden="true">&times;</span>
	    </button>
	  </div>
	  {{end}}
	  {{ yield }}
	</div>
	</body>
</html>
